@import "./declaration.module.scss";

.hero {
  @include displayRow();
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;

  .Headshot {
    max-width: max(20rem, 30%);
    min-width: 15rem;
  }
  img {
    clip-path: circle();
  }

  @media (max-width: 650px) {
    @include displayCol();
  }
}
