@import "./declaration.module.scss";

.App {
  @include displayCol();
}
.container {
  margin: auto;
}

.displayRow {
  @include displayRow();
}
.displayCol {
  @include displayCol();
}
.titles {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
