@import "./declaration.module.scss";

.App {
  @include displayCol();
  position: absolute;
}
.container {
  padding: min(6em, 8rem);
  margin: auto;
}

.displayRow {
  @include displayRow();
}
.displayCol {
  @include displayCol();
}
.titles {
  font-size: calc(1vw + 0.8rem);
  text-align: center;
  margin: 3rem 0;
}
