@import "./declaration.module.scss";

.photoshop {
  @include displayCol();
  .carouselStack {
    .cardWide {
      box-shadow: 0 0 20px rgb(134, 134, 134);
      box-shadow: 0 0 20px rgb(134, 134, 134);
      border-radius: 10px;
      max-width: calc(2.5vw + 60%);
      margin: auto;
    }
    .cardPort {
      box-shadow: 0 0 20px rgb(134, 134, 134);
      box-shadow: 0 0 20px rgb(134, 134, 134);
      border-radius: 10px;
      max-width: calc(1vw + 40%);
      margin: 3rem auto;
    }
  }
}
